{% extends "base.html" %}

{% block content %}
<h2 class="mb-4">Добро пожаловать!</h2>
{% if current_user.is_authenticated %}
<div>
    <a href="/logout" class="btn btn-warning">
        {{ current_user.login }}
    </a>
</div>
{% else %}
<h3>
    Guest
</h3>
<div class="text-center">
    <div class="d-inline-block">
        <a href="/login" class="btn btn-warning mx-2">
            Войти
        </a>
        <a href="/register" class="btn btn-warning mx-2">
            Зарегистрироваться
        </a>
    </div>
</div>
{% endif %}
{% if current_user.is_admin%}
<a href="/add/films" class="btn btn-warning">
    Добавить фильм
</a>
<a href="/users" class="btn btn-warning">
    Пользователи
</a>
{%endif%}
<div>
    <table>
        <thead>
            <tr>
                <td>ID фильма</td>
                <td>Изображение</td>
                <td>Название</td>
                <td>Жанр</td>
                <td>Год выпуска</td>
                <td>Подробнее</td>
                {%if current_user.is_admin%}
                <td>Удалить</td>
                {%endif%}
            </tr>
        </thead>
        <tbody>
        {% for film in films %}
        <tr>
            <td>
                {{film.id}}
            </td>
            <td>
                <img src="{{url_for('static', filename='images/'+film.image) }}" alt="image">
            </td>
            <td>
                {{film.name}}
            </td>
            <td>
                {{film.genre}}
            </td>
            <td>
                {{film.year}}
            </td>
            <td>
                <a href="/films/d/{{film.id}}" class="btn btn-warning">
                    Подробнее
                </a>
            </td>
            {%if current_user.is_admin%}
            <td>
                <a href="/delete/films/{{film.id}}" class="btn btn-warning">
                    {% if current_user.is_admin %}
                    Удалить
                    {% endif %}
                </a>
            </td>
            {%endif%}

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}